<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Asteroids Evolved</title>
    <link rel="stylesheet" href="style/main.css" />
    <script src="http://code.jquery.com/jquery-2.1.0.js"></script>
    <script src="scripts/modernizr.js"></script>
    <script src="scripts/loader.js"></script>
</head>
<body>
    <div id="game">
        <div id="main-menu" class="screen">
            <ul class="menu">
                <li><button id="id-new-game">New&nbsp;Game</button></li>
                <li><button id="id-instructions">Instructions</button></li>
                <li><button id="id-high-scores">High&nbsp;Scores</button></li>
                <li><button id="id-options">Options</button></li>
                <li><button id="id-about">About</button></li>
            </ul>
        </div>
        <div id="game-play" class="screen">
            <canvas id="asteroids" width="1920" height="1080"></canvas>
        </div>
        <div id="attract-mode" class="screen">
            <canvas id="attract-asteroids" width="1920" height="1080"></canvas>
        </div>
        <div id="instructions" class="screen">
            <h1>How To Play</h1>
            <p>
                You're the commander of a ship in deep space. You've just entered a very dangerous
                area that has a large number of asteroids. What's worse: it's infested with aliens.
                Your crew is counting on you to guide them through the asteroid field safely. You
                must avoid colliding with any asteroids and prevent them from colliding with your
                ship. If any one of these asteroids damages your ship, all your lives will be in
                grave danger.
            </p>
            <ul>
                <li>Use thrust to move the ship in the direction it is facing</li>
                <li>Rotate the ship to change the direction the ship is facing</li>
                <li>Fire missiles at asteroids to destroy them</li>
                <li>Beware of alien ships!</li>
            </ul>
            <ul class="menu">
                <li><button id="id-instructions-back">Back</button></li>
            </ul>
        </div>
        <div id="high-scores" class="screen">
            <h1>High Scores</h1>
            <ol id="scores-list">
            </ol>
            <ul class="menu">
                <li><button id="id-high-scores-back">Back</button></li>
            </ul>
        </div>
        <div id="options" class="screen">
            <h1>Options</h1>
            <p>A way here to change the game controls</p>
            <table>
                <tr>
                    <td>Accelerate:</td>
                    <td><input type="text" id="accel"></td>
                </tr>
                <tr>
                    <td>Rotate Right:</td>
                    <td><input type="text" id="right"></td>
                </tr>
                <tr>
                    <td>Rotate Left:</td>
                    <td><input type="text" id="left"></td>
                </tr>
                <tr>
                    <td>Fire:</td>
                    <td><input type="text" id="fire"></td>
                </tr>
                <tr>
                    <td>Teleport:</td>
                    <td><input type="text" id="tele"></td>
                </tr>
                <tr>
                    <td>Show Safe Graph:</td>
                    <td><input type="text" id="safe"></td>
                </tr>
                <tr>
                    <th colspan="2"><button id="controls-save">Save</button></th>
                </tr>
            </table>
            <ul class="menu">
                <li><button id="id-options-back">Back</button></li>
            </ul>
        </div>
        <div id="about" class="screen">
            <h1>About</h1>
            <p>Developed by</p>
            <p>John</p>
            <p>Matt</p>
            <ul class="menu">
                <li><button id="id-about-back">Back</button></li>
            </ul>
        </div>
    </div>
</body>
</html>
